<!DOCTYPE html>
<html lang="el">
  <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width", initial-scale=1.0"
  <title> Mini Reddit </title>
    <link rel="stylesheet" href="pico css ">
  </head>

  <body class="container" style="padding-top:20px;">
    <nav>
<ul> 
<li><strong> <a href="/" style="text-decoration: none; font-size: 1.5 rem"</strong> </li>
</ul>
  <ul>
<li> <small> Αρχική μορφή του Reddit </small></li>
    
  </ul>


  

      
    </nav>
<hr>

  <main>
{% block content %} {%endblock%}
    
  </main>

  <footer style="margin-top: 50px; text-align: center;">
    <small> Mini Reddit built with Flask and PICO CSS</small>
  


  
</html>
